@model NerverLand.WebApp.Models.CarModel
@{
    ViewBag.Title = "CarInfo";
}

<h2>CarInfo</h2>

@Html.LabelFor(m=>m.CarName)<br/>
@Html.LabelFor(m => m.Year)<br />
@Html.LabelFor(m => m.EngineModel)<br />
@Html.LabelFor(m => m.ChassisModel)<br />
@Html.LabelFor(m => m.TireModel)<br />
