@model NerverLand.WebApp.Models.CarModel
@{
    ViewBag.Title = "CarInfo";
}

<h2>CarInfo</h2>

@Html.LabelFor(m => m.CarName)      @Html.DisplayTextFor(m => m.CarName)
@Html.LabelFor(m => m.Year)         @Html.DisplayTextFor(m => m.Year)
@Html.LabelFor(m => m.EngineModel)  @Html.DisplayTextFor(m => m.EngineModel)
@Html.LabelFor(m => m.ChassisModel) @Html.DisplayTextFor(m => m.ChassisModel)
@Html.LabelFor(m => m.TireModel)    @Html.DisplayTextFor(m => m.TireModel)
